table{
	border-collapse: collapse;
	th, td{
		border: 1px solid #333333;
		text-align: center;
	}
	td{
		width: 150px;
	}
	.input_row{
		border: 1px solid #0A4C9B;
	}
	.hide_class{
		visibility: hidden;
	}
	.show_class{
		visibility: visible;
	}
	.warning{
		color: red;
		visibility: visible;
	}
	.highlight{
		background-color: #FFEC33;
	}
}
