table{
	border-collapse: collapse;
	th, td{
		border: 1px solid #333333;
		text-align: center;
	}
	.input_row{
		border: 1px solid #FFEC33;
	}
	.hide_class{
		color: red;
	}
	.show_class{
		visibility: visible;
	}
}
